<ion-menu contentId="main-content" menuId="authMenu" (ionDidOpen)="getUserData()">
    <ion-header no-border class="ion-margin-top">
        <div class="logo-center">
            <img class="avatar" src="assets/avatar_test.jpg" alt="Its me!">
            <div class="avatar-title ion-margin-top"> {{ userData.name }} </div>
        </div>
    </ion-header>
    
    <pre>
        {{ userData | json }}
    </pre>
    
    <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
        <ion-item lines="none" [routerDirection]="'root'" [routerLink]="[page.url]" (click)="page.action ? page.action() : null">
            <ion-icon slot="start" [name]="page.icon" color="primary"></ion-icon>
            <ion-label>
                {{ page.title }}
            </ion-label>
        </ion-item>
    </ion-menu-toggle>
</ion-menu>