<ion-fab horizontal="start" class="ion-margin-start">
    <ion-fab-button class="btn-facebook" (click)="facebookLogin()">
        <ion-icon name="logo-facebook"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab horizontal="center">
    <ion-fab-button class="btn-instagram" (click)="instagramLogin()">
        <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
</ion-fab>
<ion-fab horizontal="end" class="ion-margin-end" (click)="googleLogin()">
    <ion-fab-button class="btn-google">
        <ion-icon name="logo-googleplus"></ion-icon>
    </ion-fab-button>
</ion-fab>